{% extends 'base.html' %}
{% block content %}
    <h2>Edit Product</h2>
    <form action="" method="post">
        {% csrf_token %}
        <br/>
        <input type="text" name="name" value="{{ product.name }}" maxlength="50" placeholder="Name" aria-label="Name"
               class="w-50 mb-2"/><br/>
        {% if product.description %}
            <textarea name="description" maxlength="120" placeholder="Description" aria-label="Description"
                      class="w-50">{{ product.description }}</textarea><br/>
        {% else %}
            <textarea name="description" maxlength="120" placeholder="Description" aria-label="Description"
                      class="w-50"></textarea>
            <br/>
        {% endif %}
        <select name="category_id" id="category_id" class="w-50 mb-2" aria-label="Category">
            <option disabled hidden>Category</option>
            {% for category in categories %}
                {% if category.id == product.category.id %}
                    <option value="{{ category.id }}" selected>{{ category.name }}</option>
                {% else %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        <input type="text" name="price" value="{{ product.price }}" placeholder="Price" aria-label="Price"
               class="w-50 mb-2"/><br/>
        <input type="text" name="image" value="{{ product.image }}" placeholder="Image URL" aria-label="Image URL"
               class="w-50 mb-2"/><br/>
        <input class="btn btn-primary rounded-0" type="submit" value="Edit product"/>
    </form>
{% endblock %}